*{
    padding: 0;
    font-size: 15px;
    margin: 0;
}

.square{
    display: inline-block;
    height: 16%;
    width: 16%;
    border: 1px solid white;
}
.mainSquare.square{
    background: gray;

}
.hiddenSquare.square{
    background: transparent;
}

.hiddenSquare.square.answerClass:before{
    content: "o";
    position: absolute;
    height: 10px;
    width: 10px;
    z-index: 100;
    font-size: 30px;
}
.container{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    padding: 30px;
}
